/* GENERAL */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

ul {
  padding: 0;
}

body {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

/* custom scroll bar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #07070b;
}

::-webkit-scrollbar-thumb {
  background: #F2D080;
}

::-webkit-scrollbar-thumb:hover {
  background: #000;
}

.header {
  background-color: #151516;
  padding: 15px 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.selected__lan {
  color: #fff;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 1.2;
  width: 100px;
  margin-right: 45px;
  margin-top: 10px;
}

.lan__menu {
  position: relative;
  line-height: 1.2;
  width: 100px;
}

.selected__lan:before {
  content: '';
  display: block;
  width: 32px;
  height: 32px;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/f/f3/Flag_of_Russia.svg/32px-Flag_of_Russia.svg.png");
  background-repeat: no-repeat;
  margin-right: 5px;
}

.selected__lang {
  color: #fff;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 1.2;
  width: 100px;
  margin-right: 45px;
  margin-top: 10px;
}

.selected__lang:before {
  content: '';
  display: block;
  width: 32px;
  height: 32px;
  background-image: url("./../img/united-states-of-america-flag-icon-32.png");
  background-repeat: no-repeat;
  margin-right: 5px;
}

.selected__langu {
  color: #fff;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 1.2;
  width: 100px;
  margin-right: 45px;
  margin-top: 10px;
}

.selected__langu:before {
  content: '';
  display: block;
  width: 32px;
  height: 32px;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/8/84/Flag_of_Uzbekistan.svg/32px-Flag_of_Uzbekistan.svg.png");
  background-repeat: no-repeat;
  margin-right: 5px;
}

.selected__langua {
  color: #fff;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 1.2;
  width: 100px;
  margin-right: 45px;
  margin-top: 10px;
}

.selected__langua:before {
  content: '';
  display: block;
  width: 32px;
  height: 32px;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/b/ba/Flag_of_Germany.svg/32px-Flag_of_Germany.svg.png");
  background-repeat: no-repeat;
  margin-right: 5px;
}

.lan__menu .ul {
  margin: 0;
  padding: 0;
  background-color: #fff;
  border: 1px solid #f9f9f9;
  list-style: none;
  -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  display: none;
  position: absolute;
  top: 40px;
  right: 0;
}

.lan__menu .ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

a {
  text-decoration: none;
  color: #fff;
  color: #000;
}

.lan__menu .ul li a {
  width: 100px;
  display: block;
  padding: 5px 10px;
}

.lan__menu .ul li a:before {
  content: '';
  display: inline-block;
  width: 32px;
  height: 32px;
  vertical-align: middle;
  margin-right: 10px;
  background-repeat: no-repeat;
  margin-top: 5px;
}

.lan__menu .ul li a:hover {
  background-color: #f2f2f2;
}

.de:before {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/b/ba/Flag_of_Germany.svg/32px-Flag_of_Germany.svg.png");
}

.uz:before {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/8/84/Flag_of_Uzbekistan.svg/32px-Flag_of_Uzbekistan.svg.png");
}

.ru:before {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/f/f3/Flag_of_Russia.svg/32px-Flag_of_Russia.svg.png");
}

.rus:before {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/f/f3/Flag_of_Russia.svg/32px-Flag_of_Russia.svg.png");
}

.eng:before {
  background-image: url("./../img/united-states-of-america-flag-icon-32.png");
}

.lan__menu:hover .ul {
  display: block;
}

.header__btn {
  background-color: #F2D080;
  padding: 12px 18px;
  border-radius: 8px;
  margin-left: 15px;
}

.alo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 426px) {
  .header__btn {
    padding: 10px 12px;
    font-size: 14px;
    margin-left: 9px;
  }
  .ru {
    font-size: 15px;
  }
  .logo {
    width: 70%;
  }
}

.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 25px;
}

.hero {
  background-color: #000;
  padding: 79px 0 120px 0;
}

.hero__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 142px;
}

.hero__title {
  font-size: 50px;
  line-height: 54px;
  color: #fff;
  width: 68%;
  margin-bottom: 32px;
}

.hero__description {
  width: 65%;
  font-size: 16px;
  line-height: 26px;
  color: #91919D;
  margin-bottom: 40px;
}

.hero__btn {
  font-size: 14px;
  line-height: 21px;
  color: #07070B;
  padding: 22px 26px 21px;
  background: #F2D080;
  border-radius: 12px;
  font-weight: 600;
}

.hero__btnn {
  font-size: 14px;
  line-height: 21px;
  color: #07070B;
  padding: 22px 26px 21px;
  background: #F2D080;
  border-radius: 12px;
  font-weight: 600;
}

.hero__butn {
  font-size: 14px;
  line-height: 21px;
  color: #07070B;
  padding: 22px 26px 21px;
  background: #F2D080;
  border-radius: 12px;
  font-weight: 600;
}

.hero__button {
  font-size: 14px;
  line-height: 21px;
  color: #07070B;
  padding: 22px 26px 21px;
  background: #F2D080;
  border-radius: 12px;
  font-weight: 600;
}

.hero__left_side {
  width: 70%;
}

.hero__img {
  margin-top: 15px;
  width: 100%;
}

.up {
  position: fixed;
  bottom: 30px;
  right: -50px;
  background-color: #F2D080;
  padding: 14.5px;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  width: 50px;
  height: 50px;
}

.up i {
  font-size: 25px;
  color: #000;
}

.up.show {
  right: 40px;
}

@media (max-width: 1025px) {
  .hero__title {
    font-size: 35px;
    line-height: 38px;
    width: 500px;
  }
  .hero__description {
    width: 500px;
  }
}

@media (max-width: 769px) {
  .hero {
    padding-bottom: 72px;
  }
  .hero__title {
    font-size: 31px;
    line-height: 35px;
    width: 380px;
  }
  .hero__description {
    width: 350px;
  }
  .hero__butn {
    margin-left: 105px;
  }
}

@media (max-width: 700px) {
  .hero {
    padding-bottom: 72px;
  }
  .hero__inner {
    display: -ms-grid;
    display: grid;
    text-align: center;
    margin-top: 60px;
  }
  .hero__img {
    display: none;
  }
  .hero__title {
    font-size: 40px;
    line-height: 45px;
    width: 380px;
  }
  .hero__description {
    width: 385px;
  }
  .hero__button {
    font-size: 12px;
    line-height: 18px;
    padding: 20px 75px;
    margin-left: 90px;
  }
}

@media (max-width: 502px) {
  .hero__title {
    font-size: 35px;
    line-height: 40px;
  }
  .hero__butn {
    padding: 15px 30px;
    margin-left: 105px;
  }
}

@media (max-width: 426px) {
  .hero__title {
    font-size: 30px;
    line-height: 35px;
    width: 325px;
  }
  .hero__description {
    width: 320px;
    font-size: 14px;
    line-height: 20px;
  }
  .hero__btn {
    font-size: 12px;
    line-height: 18px;
    padding: 20px 97px;
    margin-left: 50px;
  }
  .hero__button {
    font-size: 12px;
    line-height: 18px;
    padding: 20px 97px;
    margin-left: 40px;
  }
  .hero__btnn {
    font-size: 12px;
    line-height: 18px;
    padding: 20px 97px;
  }
}

@media (max-width: 375px) {
  .hero__title {
    font-size: 25px;
    line-height: 28px;
    width: 310px;
  }
  .hero__description {
    width: 305px;
    font-size: 12px;
    line-height: 18px;
  }
  .hero__butn {
    padding: 15px 30px;
    margin-left: 87px;
  }
}

@media (max-width: 335px) {
  .hero__title {
    font-size: 22px;
    line-height: 28px;
    width: 280px;
  }
  .hero__description {
    width: 270px;
    font-size: 10px;
    line-height: 18px;
  }
  .hero__btn {
    font-size: 12px;
    line-height: 18px;
    padding: 20px 75px;
    margin-left: 50px;
  }
  .hero__btnn {
    font-size: 12px;
    line-height: 18px;
    padding: 20px 75px;
    margin-left: 0px;
  }
  .hero__button {
    font-size: 12px;
    line-height: 18px;
    padding: 20px 75px;
    margin-left: 40px;
  }
}

.statistics {
  background-color: #151516;
  color: #fff;
  text-align: center;
  padding: 80px 0;
}

.statistics__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 25px;
}

.stat__h1 {
  font-weight: 700;
  font-size: 64px;
  line-height: 36px;
  margin-bottom: 24px;
}

.stat__desc {
  font-size: 16px;
  line-height: 26px;
  color: #91919D;
  font-weight: 400;
}

@media (max-width: 1025px) {
  .stat__h1 {
    font-size: 50px;
  }
  .stat__desc {
    font-size: 14px;
    line-height: 18px;
  }
}

@media (max-width: 769px) {
  .stat__h1 {
    line-height: 25px;
    margin-bottom: 18px;
    font-size: 40px;
  }
}

@media (max-width: 502px) {
  .stat__h1 {
    line-height: 21px;
    margin-bottom: 15px;
    font-size: 40px;
  }
}

@media (max-width: 375px) {
  .stat__h1 {
    font-size: 37px;
  }
}

.choice {
  padding: 72px 0 112px 0;
}

.choice__inner {
  text-align: center;
}

.choice__title {
  font-size: 42px;
  line-height: 46px;
  color: #07070B;
  margin-bottom: 26px;
}

.choice__description {
  font-size: 16px;
  line-height: 26px;
  color: #91919D;
  margin-bottom: 64px;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 32px;
  margin-bottom: 112px;
}

.card__choices {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 17px rgba(17, 25, 48, 0.06), 0px 29px 20px -18px rgba(29, 34, 48, 0.06);
          box-shadow: 0px 0px 17px rgba(17, 25, 48, 0.06), 0px 29px 20px -18px rgba(29, 34, 48, 0.06);
  border-radius: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 288px;
  height: 153px;
  -webkit-transition: .5s all ease;
  transition: .5s all ease;
}

.card__choices:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.btcoin {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
}

.btcoin__title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 600;
  color: #07070B;
}

.why__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 32px;
  margin-bottom: 128px;
}

.whitebit {
  background: #F6F7FA;
  border-radius: 8px;
  width: 384px;
  padding: 48px 0 32px;
  -webkit-box-shadow: 0px 0px 17px rgba(17, 25, 48, 0.06), 0px 29px 20px -18px rgba(29, 34, 48, 0.06);
          box-shadow: 0px 0px 17px rgba(17, 25, 48, 0.06), 0px 29px 20px -18px rgba(29, 34, 48, 0.06);
  border: 1px solid #F6F7FA;
  cursor: pointer;
  -webkit-transition: .5s all ease;
  transition: .5s all ease;
}

.whitebit:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.why {
  margin-bottom: 38px;
}

.why__cards_des {
  color: #151516;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  margin: 0 auto;
  width: 320px;
}

@media (max-width: 1025px) {
  .choice__title {
    font-size: 38px;
    line-height: 38px;
  }
}

@media (max-width: 769px) {
  .choice__title {
    font-size: 33px;
    line-height: 30px;
    margin-bottom: 20px;
  }
  .choice__description {
    font-size: 15px;
    line-height: 20px;
  }
}

@media (max-width: 502px) {
  .choice__title {
    font-size: 30px;
    line-height: 35px;
  }
  .why__cards_des {
    width: 310px;
  }
}

.three__in__one {
  padding: 56px 0 72px 0;
  background-color: #06060a;
  color: #fff;
}

.three__in__one__inner {
  text-align: center;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(7.93%, rgba(7, 7, 11, 0)), color-stop(61.24%, #07070B));
  background: linear-gradient(180deg, rgba(7, 7, 11, 0) 7.93%, #07070B 61.24%);
}

.in__one__title {
  font-size: 42px;
  line-height: 46px;
  margin-bottom: 24px;
  font-weight: 700;
}

.in__one__description {
  font-size: 16px;
  line-height: 26px;
  color: #91919D;
  margin-bottom: 102px;
}

.phones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 25px;
  margin-bottom: 80px;
}

.type {
  width: 300px;
  font-size: 21px;
  line-height: 32px;
  margin-bottom: 36px;
}

.three__in__one__btn {
  background: #F2D080;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  padding: 22px 26px 21px;
  color: #07070B;
}

@media (max-width: 1025px) {
  .in__one__title {
    font-size: 35px;
    line-height: 35px;
  }
  .tel {
    width: 90%;
  }
}

@media (max-width: 769px) {
  .in__one__title {
    font-size: 26px;
    line-height: 26px;
  }
  .in__one__description {
    font-size: 15px;
    line-height: 23px;
    margin-bottom: 85px;
  }
  .tel {
    width: 70%;
  }
}

@media (max-width: 502px) {
  .type {
    margin: 0 auto;
    padding-bottom: 35px;
  }
  .tel {
    margin-bottom: 25px;
  }
}

.comments {
  background-color: #F6F7FA;
  text-align: center;
}

.comments__inner {
  margin-bottom: 64px;
}

.ddd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 35px;
}

.stars {
  margin-bottom: 17px;
}

.comments__title {
  margin: 72px 0 40px;
  font-size: 42px;
  line-height: 46px;
}

.comment__title {
  margin: 72px 0 40px;
  font-size: 42px;
  line-height: 46px;
}

.span {
  margin-bottom: 19px;
  font-size: 15px;
  line-height: 21px;
  letter-spacing: 0.32px;
  color: #8E8E93;
}

.comment__name {
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 0.56px;
  color: #232425;
  font-weight: 600;
}

.feedback__block {
  background: #FFFFFF;
  border-radius: 16px;
  padding: 15px 5px 72px 15px;
  width: 360px;
  height: 275px;
  text-align: left;
  margin-bottom: 2px;
  -webkit-transition: .5s all ease;
  transition: .5s all ease;
}

.feedback__block:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.comment__description {
  font-size: 16px;
  line-height: 26px;
  color: #91919D;
}

@media (max-width: 1025px) {
  .comments__title {
    font-size: 35px;
    line-height: 42px;
  }
}

@media (max-width: 769px) {
  .comments__title {
    font-size: 30px;
    line-height: 38px;
  }
  .comment__title {
    font-size: 28px;
    line-height: 38px;
  }
}

@media (max-width: 376px) {
  .feedback__block {
    height: 301px;
  }
  .comment__title {
    margin: 72px 0 40px;
    font-size: 22px;
    line-height: 46px;
  }
}

.easy {
  background-color: #151516;
  color: #fff;
  padding: 72px 0 100px;
  height: 605px;
}

.easy__inner {
  text-align: center;
}

.easy__title {
  font-size: 42px;
  line-height: 46px;
  margin-bottom: 70px;
}

.account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 62px;
}

.account__1 {
  background-blend-mode: multiply;
  border: 1.27238px solid rgba(255, 255, 255, 0.273622);
  -webkit-box-shadow: inset 0px -4px 8px rgba(255, 226, 217, 0.24);
          box-shadow: inset 0px -4px 8px rgba(255, 226, 217, 0.24);
  -webkit-backdrop-filter: blur(34.587px);
          backdrop-filter: blur(34.587px);
  border-radius: 8px;
  height: 68px;
  width: 68px;
  margin-bottom: 126px;
}

.man {
  margin: 15px;
}

.man__title {
  text-align: center;
  margin-top: 34px;
  margin-bottom: 65px;
  font-size: 22px;
  line-height: 30px;
  width: 350px;
  margin-left: -133px;
}

.easy__btn {
  padding: 22px 26px 21px;
  background: #F2D080;
  border-radius: 12px;
  margin-top: 100px;
}

@media (max-width: 1025px) {
  .easy__title {
    font-size: 37px;
    line-height: 37px;
  }
  .man__title {
    font-size: 17px;
    line-height: 18px;
    width: 296px;
    margin-left: -123px;
  }
}

@media (max-width: 769px) {
  .man__title {
    font-size: 14px;
    line-height: 14px;
    width: 190px;
    margin-left: -60px;
  }
  .easy__title {
    font-size: 32px;
    line-height: 32px;
    margin-bottom: 60px;
  }
  .account {
    margin-bottom: 40px;
  }
}

@media (max-width: 625px) {
  .man__title {
    font-size: 14px;
    line-height: 14px;
    margin: 0 auto;
    width: 66px;
    padding-top: 15px;
  }
}

.footer {
  background-color: #000;
  color: #fff;
  padding: 57px 0 40px;
}

.footer__inner {
  text-align: center;
}

.smedia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: #91919D;
  margin-bottom: 35px;
}

.media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.fa-linkedin::before,
.fa-telegram::before,
.fa-reddit::before,
.fa-medium::before,
.fa-facebook::before,
.fa-twitter::before,
.fa-youtube::before {
  width: 25px;
  height: 25px;
  margin-right: 15px;
}

hr {
  border: 1px solid #282B31;
  margin-bottom: 35px;
}

.media a {
  color: #91919D;
  -webkit-transition: .5s;
  transition: .5s;
}

.media a:hover {
  color: #F2D080;
}

@media (max-width: 1025px) {
  .socmed {
    font-size: 15px;
  }
}

@media (max-width: 730px) {
  .socmed {
    display: none;
  }
}

.body {
  min-height: 100vh;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#f2d080), color-stop(#eece72), color-stop(#eacc65), color-stop(#e5ca56), to(#dfc947));
  background-image: linear-gradient(to top, #f2d080, #eece72, #eacc65, #e5ca56, #dfc947);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form-container {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1em;
}

.form-box {
  z-index: 999;
  background-color: #000;
  -webkit-box-shadow: 0 5px 25px black;
          box-shadow: 0 5px 25px black;
  border-radius: 5px;
  padding: 50px 40px;
  width: 350px;
  overflow: hidden;
}

.form-box h2 {
  font-size: 1.65em;
  margin-bottom: 40px;
  font-weight: 700;
  color: #fff;
}

.form-box .field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 2px solid #eee;
  margin-bottom: 25px;
}

.form-box .field.active {
  border-bottom: 2px solid #F2D080;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.form-box .field input {
  border: none;
  outline: none;
  background: none;
  width: 100%;
  font-size: 1em;
  padding-bottom: 5px;
  color: #F2D080;
}

.form-box .field i {
  color: #828da0;
  font-size: 1.3em;
  margin-right: 10px;
  padding-bottom: 5px;
}

.form-box .field.active i {
  color: #F2D080;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

::-webkit-input-placeholder {
  color: #828da0;
  font-size: 0.85em;
}

:-ms-input-placeholder {
  color: #828da0;
  font-size: 0.85em;
}

::-ms-input-placeholder {
  color: #828da0;
  font-size: 0.85em;
}

::placeholder {
  color: #828da0;
  font-size: 0.85em;
}

.eye-btn {
  cursor: pointer;
}

.eye-btn i:hover {
  color: #F2D080;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.forgot-link {
  text-align: right;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.forgot-link a {
  color: #F2D080;
  font-size: 0.8em;
  font-weight: 600;
}

.submit-btn {
  background: #F2D080;
  color: #000;
  border: none;
  outline: none;
  width: 120px;
  padding: 10px 5px;
  border-radius: 5px;
  font-size: 0.65em;
  font-weight: 500;
  margin-top: 5px;
  cursor: pointer;
  font-weight: 700;
}

.login-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.login-options .text {
  color: #828da0;
  font-size: 0.85em;
  margin: 25px 0;
  font-weight: 500;
}

.other-login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.other-login a {
  border: 1px solid #ccc;
  padding: 11px 32px;
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 5px;
  -webkit-transition: border 0.3s ease;
  transition: border 0.3s ease;
}

.other-login a:hover {
  border: 1px solid #F2D080;
}

.other-login a img {
  width: 15px;
}

.imgBox img {
  max-width: 270px;
}

.sliding-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.8em;
  margin-bottom: 25px;
}

.sliding-link p {
  color: #fff;
  font-size: 14px;
}

.sliding-link span {
  color: #F2D080;
  font-weight: 600;
  margin-left: 5px;
  cursor: pointer;
  font-size: 13px;
}

.imgBox {
  z-index: 888;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #000;
  -webkit-box-shadow: 0 5px 25px black;
          box-shadow: 0 5px 25px black;
  height: 400px;
  padding: 15px 35px;
}

.sign-in-imgBox {
  border-radius: 0 5px;
}

.sign-up-imgBox {
  border-radius: 5px 0 0 5px;
}

.sign-in-form.hide .sign-in-box {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  visibility: hidden;
}

.sign-in-form.hide .sign-in-imgBox {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  visibility: hidden;
}

.sign-in-form.show .sign-in-box,
.sign-in-form.show .sign-in-imgBox {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  visibility: visible;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.sign-up-form .sign-up-imgBox {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  visibility: hidden;
}

.sign-up-form .sign-up-box {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  visibility: hidden;
}

.sign-up-form.show .sign-up-imgBox,
.sign-up-form.show .sign-up-box {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  visibility: visible;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

@media screen and (max-width: 735px) {
  .form-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    top: 0;
    overflow: hidden;
    padding: 30px;
  }
  .form-box {
    -webkit-box-shadow: none;
            box-shadow: none;
    padding: 0;
  }
  .imgBox img {
    max-width: 45%;
    min-width: 180px;
  }
  .imgBox {
    -webkit-box-shadow: none;
            box-shadow: none;
    width: 100%;
    height: auto;
    padding: 60px 0;
  }
  .sign-up-form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

@media screen and (max-width: 738px) {
  .form-box {
    padding: 50px;
  }
}

@media screen and (max-width: 450px) {
  .form-container {
    font-size: 0.9em;
  }
  .form-box {
    width: 100%;
    padding: 50px;
  }
  .other-login a {
    padding: 5px 22px;
  }
}

@media screen and (max-width: 325px) {
  .other-login a {
    padding: 9px 25px;
    margin: 0 3px;
  }
}
/*# sourceMappingURL=main.css.map */