.header {
  background-color: #151516;
  padding: 15px 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.header__inner {
  @include d-flex(space-between);
}

.selected__lan {
  color: #fff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  line-height: 1.2;
  width: 100px;
  margin-right: 45px;
  margin-top: 10px;
}

.lan__menu {
  position: relative;
  line-height: 1.2;
  width: 100px;
}

.selected__lan:before {
  content: '';
  display: block;
  width: 32px;
  height: 32px;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/f/f3/Flag_of_Russia.svg/32px-Flag_of_Russia.svg.png");
  background-repeat: no-repeat;
  margin-right: 5px;
}

.selected__lang {
  color: #fff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  line-height: 1.2;
  width: 100px;
  margin-right: 45px;
  margin-top: 10px;
}

.selected__lang:before {
  content: '';
  display: block;
  width: 32px;
  height: 32px;
  background-image: url("./../img/united-states-of-america-flag-icon-32.png");
  background-repeat: no-repeat;
  margin-right: 5px;
}

.selected__langu {
  color: #fff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  line-height: 1.2;
  width: 100px;
  margin-right: 45px;
  margin-top: 10px;
}

.selected__langu:before {
  content: '';
  display: block;
  width: 32px;
  height: 32px;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/8/84/Flag_of_Uzbekistan.svg/32px-Flag_of_Uzbekistan.svg.png");
  background-repeat: no-repeat;
  margin-right: 5px;
}
.selected__langua {
  color: #fff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  line-height: 1.2;
  width: 100px;
  margin-right: 45px;
  margin-top: 10px;
}

.selected__langua:before {
  content: '';
  display: block;
  width: 32px;
  height: 32px;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/b/ba/Flag_of_Germany.svg/32px-Flag_of_Germany.svg.png");
  background-repeat: no-repeat;
  margin-right: 5px;
}

.lan__menu .ul {
  margin: 0;
  padding: 0;
  background-color: #fff;
  border: 1px solid #f9f9f9;
  @include list-unstyled;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  display: none;
  position: absolute;
  top: 40px;
  right: 0;
}


.lan__menu .ul li {
  display: flex;
  justify-content: space-between;
}

a {
  @include links;
  color: #000;
}

.lan__menu .ul li a {
  width: 100px;
  display: block;
  padding: 5px 10px;
}

.lan__menu .ul li a:before {
  content: '';
  display: inline-block;
  width: 32px;
  height: 32px;
  vertical-align: middle;
  margin-right: 10px;
  background-repeat: no-repeat;
  margin-top: 5px;
}

.lan__menu .ul li a:hover {
  background-color: #f2f2f2;
}

.de:before {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/b/ba/Flag_of_Germany.svg/32px-Flag_of_Germany.svg.png");
}

.uz:before {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/8/84/Flag_of_Uzbekistan.svg/32px-Flag_of_Uzbekistan.svg.png");
}

.ru:before {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/f/f3/Flag_of_Russia.svg/32px-Flag_of_Russia.svg.png");
}

.rus:before {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/f/f3/Flag_of_Russia.svg/32px-Flag_of_Russia.svg.png");
}

.eng:before {
  background-image: url("./../img/united-states-of-america-flag-icon-32.png");
}

.lan__menu:hover .ul {
  display: block;
}

.header__btn {
  background-color: #F2D080;
  padding: 12px 18px;
  border-radius: 8px;
  margin-left: 15px;

}

.alo {
  display: flex;
  align-items: center;
}

@media (max-width:426px) {
  .header__btn {
    padding: 10px 12px;
    font-size: 14px;
    margin-left: 9px;
  }

  .ru {
    font-size: 15px;
  }

  .logo {
    width: 70%;
  }
}